<header class="row">
  <div class="col-xs-12 col-md-6">
    <div class="site-logo" style="background-image:url('../../assets/img/deze-logo-white.png')"></div>
  </div>
  <nav class="nav-bar col-xs-12 col-md-6">
    <ul class="nav-bar__links">
      <li class="nav-bar__link"><a href="#">Story</a></li>
      <li class="nav-bar__link"><a href="#">Location</a></li>
      <li class="nav-bar__link"><a href="#">Schedule</a></li>
      <li class="nav-bar__link"><a href="#">Gallery</a></li>
      <li class="nav-bar__link"><a href="#">Bridal Party</a></li>
      <li class="nav-bar__link"><a href="#">RSVP</a></li>
    </ul>
  </nav>
</header>
