header {
  height: 80px;
  padding: var(--spacing-small);
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
}

.logo-container {
  height: 100%;
}

.logo-container .hamburger {
  position: absolute;
  top: 50%;
  right: 15px;
  color: white;
  font-size: 22px;
  margin-top: -11px;
}

.site-logo {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.nav-bar {
  display: none;
}

.nav-bar > .nav-bar__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-bar__link {
  font-size: 20px;
  overflow-x: hidden;
}

.nav-bar__link a {
  position: relative;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav-bar__link a:hover {
  color: var(--color-gold)
}

.nav-bar__link + .nav-bar__link {
  margin-left: 15px;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: var(--color-secondary);
  opacity: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  overflow-y: hidden;
}

.mobile-menu.active {
  opacity: 1;
  height: 100%;
}

.mobile-menu .close-btn {
  font-size: 26px;
  font-weight: 100;
  position: fixed;
  right: 25px;
  top: 25px;
  color: var(--color-white);
}

.mobile-menu .nav-bar__links {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.mobile-menu .nav-bar__link {
  margin-left: 0;
  margin: 5px 0;
  text-align: center;
}

.mobile-menu .nav-bar__link a {
  font-size: 23px;
}

@media (min-width: 576px) {
  .logo-container {
    width: 30%;
  }

  .site-logo {
    width: 160px;
  }

  .nav-bar {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .logo-container .hamburger {
    display: none;
  }
}

@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}
