header {
  height: 80px;
  padding: var(--spacing-small);
  margin-bottom: var(--spacing-large);
  display: flex;
  background-color: var(--color-secondary);
}

.site-logo {
  height: 100%;
  width: 160px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.nav-bar__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar__links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.nav-bar__link {
  font-size: 20px;
  overflow-x: hidden;
}

.nav-bar__link a {
  position: relative;
  padding-bottom: 2px;
  font-size: 14px;
  font-weight: 300;
  color: var(--color-white);
  transition: color 0.3s ease-in-out;
}

.nav-bar__link a:hover {
  color: var(--color-gold)
}

.nav-bar__link + .nav-bar__link {
  margin-left: 15px;
}
