<div class="p-gallery">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="p-title">Gallery</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="image-container">
        <div class="image" style="background-image:url('../../assets/img/prewed-1.jpg')"></div>
        <div class="image" style="background-image:url('../../assets/img/prewed-2.jpg')"></div>
        <div class="image" style="background-image:url('../../assets/img/prewed-3.jpg')"></div>
        <div class="image" style="background-image:url('../../assets/img/prewed-4.jpg')"></div>
        <div class="image" style="background-image:url('../../assets/img/prewed-5.jpg')"></div>
        <div class="image" style="background-image:url('../../assets/img/prewed-6.jpg')"></div>
      </div>
    </div>
  </div>
</div>
