<div class="p-rsvp">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="p-title">RSVP</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9 form-container">
      <form #rsvpForm="ngForm" (ngSubmit)="onSubmit();rsvpForm.reset()">
        <div *ngIf="submitted" class="form-success-message">
          <p>Thank you {{guestName}} for the RSVP. See you next month! :)</p>
        </div>
        <label>First Name:</label>
        <input type="text" [(ngModel)]="this.guest.firstName" name="firstName" placeholder="Biggie" maxlength="30" required />
        <label>Last Name:</label>
        <input type="text" [(ngModel)]="this.guest.lastName" name="lastName" placeholder="Smalls" maxlength="30"  required />
        <label>Email:</label>
        <input type="email" [(ngModel)]="this.guest.email" name="email" placeholder="biggie@smalls.com" maxlength="50"  required />
        <label>Plus One (First Name + Last Name):</label>
        <input type="text" [(ngModel)]="this.guest.plusOne" name="plusOne" placeholder="Puff Daddy" maxlength="30"  required />
        <input [disabled]="!rsvpForm.form.valid" type="submit" value="Send" />
      </form>
    </div>
    <div class="col-xs-12 col-md-3 stats-container">
      <h3>Counter</h3>
      <ul>
        <li *ngFor="let item of items | async">
          {{item.$key}}: {{item.$value}}
        </li>
      </ul>
    </div>
  </div>
</div>
