.hero-image {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position:  center right;

}

.hero-image__title {
  font-size: 54px;
  line-height: 54px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-image__quote > span {
  display: block;
  color: var(--color-white);
  text-align: center;
}

.quote__copy {
  color: var(--color-white);
  font-size: 15px;
}

.quote__ref {
  font-size: 14px;
  font-weight: 200;
}

.hero-image__title {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--color-white);
}

@media (min-width: 576px) {
  .hero-image {
    justify-content: flex-start;
    align-items: flex-start;
    background-position:  center center;
  }

  .hero-image__info {
    width: 50%;
    margin-top: 50px;
  }

  .hero-image__title {
    margin: 0;
    font-size: 90px;
    line-height: 94px;
  }

  .quote__copy {
    font-size: 18px;
  }

  .quote__ref {
    font-size: 14px;
  }
}
