<div [ngClass]="['hero-image']" [ngStyle]="{'background-image': 'url(' + hero.src + ')'}">
  <section [ngClass]="['hero-image__info']">
    <h2 [ngClass]="['hero-image__title']">{{ hero.title }}</h2>
    <div class="hero-image__quote">
      <span [ngClass]="['quote__copy']"><i class="fa fa-quote-left fa-2x" aria-hidden="true"></i> {{ hero.quote }} <i class="fa fa-quote-right fa-2x" aria-hidden="true"></i></span>
      <span class="quote__ref">{{ hero.quoteRef }}</span>
    </div>
  </section>
</div>
