<div class="p-location">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="p-title">Location</h1>
    </div>
  </div>
  <div class="row">
    <div class="location location__church col-xs-12 col-md-6">
      <h2 class="location__title">Church</h2>
      <div class="location__image" [ngStyle]="{'background-image': 'url(' + church.imgSrc + ')'}"></div>
      <h3 class="location__name">{{church.name}}</h3>
      <div class="location__address">{{church.address}}</div>
    </div>
    <div class="location location__reception col-xs-12 col-md-6">
      <h2 class="location__title">Reception</h2>
      <div class="location__image" [ngStyle]="{'background-image': 'url(' + reception.imgSrc + ')'}"></div>
      <h3 class="location__name">{{reception.name}}</h3>
      <div class="location__address">{{reception.address}}</div>
    </div>
  </div>
</div>
