<nav [ngClass]="'row nav-bar'">
  <div [ngClass]="'col-sm-12 nav-bar__container'">
    <deze-logo [ngClass]="'nav-bar__logo'"></deze-logo>
    <hamburger [ngClass]="'nav-bar__hamburger'"></hamburger>
    <div [ngClass]="'nav-bar__menu'">
      <ul>
        <li><a href="#">Story</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Schedule</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Bridal Party</a></li>
        <li><a href="#">RSVP</a></li>
      </ul>
    </div>
  </div>
</nav>
