.nav-bar__container {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar__logo {
  width: 200px;
}

.nav-bar__hamburger {
  display: flex;
}

.nav-bar__menu {
  display: none;
}

@media (min-width: 768px) {
  .nav-bar__container {
    align-items: center;
  }
  .nav-bar__menu {
    display: block;
  }
  .nav-bar__menu ul {
    display: flex;
    padding-left: 0;
    font-size: 18px;
    line-height: 16px;
  }
  .nav-bar__menu li + li {
    margin-left: 50px;
  }
  .nav-bar__menu li:last-of-type {
    margin-right: 30px;
  }
  .nav-bar__menu a:hover {
    color: #CDA349;
  }
  .nav-bar__hamburger {
    display: none;
  }
  .nav-bar__logo {
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .nav-bar__menu ul {
    font-size: 24px;
    line-height: 22px;
  }
  .nav-bar__logo {
    width: 350px;
  }
}
