* {
  box-sizing: border-box;
}

body {
  font-family: 'aniuk';
  font-size: 16px;
}

ul {
  list-style-type: none;
}

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

.wf-loading {
  display: none;
}
