@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400|Playfair+Display:400,700');

:root {
  /* Colors */
  --color-primary: #F7E7CE;
  --color-secondary: #F1D3D1;
  --color-black: #000;
  --color-white: #fff;
  --color-gold: #CDA349;
  --color-gold-lighter: #d2ad5d;
  --color-light-grey: #ecf0f1;
  --color-red: #e74c3c;
  --color-green: #2ecc71;

  /* Spacing */
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  /* Breakpoints */
  --bp-sm: 576px;
  --bp-md: 768px;
  --bp-lg: 992px;
  --bp-xl: 1200px;

}

::selection {
  background: var(--color-secondary); /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: var(--color-secondary); /* Gecko Browsers */
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a, a:link, a:active, a:visited, a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
  font-family: 'Playfair Display', serif;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
  background: none;
}

input {
  outline: 0;
  margin-bottom: 15px;
}

button a, input[type="submit"] {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 15px 90px;
  background-color: var(--color-gold);
  color: var(--color-white);
  transition: background-color 0.3s ease-in-out;
}

button a:hover, input[type="submit"]:not(:disabled):hover {
  background-color: var(--color-gold-lighter);
}

input[type="submit"] {
  border: 0;
  margin-top: 30px;
  text-transform: uppercase;
}

input.ng-dirty.ng-invalid {
  border-color: var(--color-red);
}

.p-title {
  margin: 30px 0;
}

.wf-loading {
  display: none;
}
