<div class="p-bridal-party">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="p-title">Bridal Party</h1>
    </div>
  </div>
  <div class="bridal-party row">
    <section class="bridal-party__bridesmaids col-xs-12 col-md-6">
      <h3 class="bridal-party__title">Meet the Bridesmaids</h3>
      <div class="bridesmaids">
        <div class="avatar bridesmaid-avatar">
          <div class="bridesmaid">
            <span class="name">Rosa</span>
            <div class="picture"></div>
            <div class="title">Chief Bridesmaid</div>
          </div>
        </div>
        <div class="avatar bridesmaid-avatar">
          <div class="bridesmaid">
            <span class="name">Alex</span>
            <div class="picture"></div>
            <div class="title">Bridesmaid</div>
          </div>
        </div>
        <div class="avatar bridesmaid-avatar">
          <div class="bridesmaid">
            <span class="name">Mary</span>
            <div class="picture"></div>
            <div class="title">Bridesmaid</div>
          </div>
        </div>
        <div class="avatar bridesmaid-avatar">
          <div class="bridesmaid">
            <span class="name">Jasmine</span>
            <div class="picture"></div>
            <div class="title">Bridesmaid</div>
          </div>
        </div>
      </div>
    </section>
    <section class="bridal-party__groomsmen col-xs-12 col-md-6">
      <h3 class="bridal-party__title">Meet the Groomsmen</h3>
      <div class="groomsmen">
        <div class="avatar groomsman-avatar">
          <div class="groomsman">
            <span class="name">Deji</span>
            <div class="picture"></div>
            <div class="title">Best Man</div>
          </div>
        </div>
        <div class="avatar groomsman-avatar">
          <div class="groomsman">
            <span class="name">Anthony</span>
            <div class="picture"></div>
            <div class="title">Groomsman</div>
          </div>
        </div>
        <div class="avatar groomsman-avatar">
          <div class="groomsman">
            <span class="name">Richard</span>
            <div class="picture" style="background-image:url('../../assets/img/richard.jpg')"></div>
            <div class="title">Groomsman</div>
          </div>
        </div>
        <div class="avatar groomsman-avatar">
          <div class="groomsman">
            <span class="name">Yemi</span>
            <div class="picture"></div>
            <div class="title">Groomsman</div>
          </div>
        </div>
        <div class="avatar groomsman-avatar">
          <div class="groomsman">
            <span class="name">Marvin</span>
            <div class="picture"></div>
            <div class="title">Groomsman</div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
