<div class="p-bridal-party">
  <div class="row">
    <div class="col-xs-12">
      <div class="p-title-container">
        <h1 class="p-title">Bridal Party</h1>
      </div>
    </div>
  </div>
  <div class="bridal-party row">
    <section class="bridal-party__bridesmaids col-xs-12 col-md-6">
      <h3 class="bridal-party__title">Meet the Bridesmaids</h3>
      <div class="bridesmaids">
        <div *ngFor="let bridesmaid of bridalParty.bridesmaids" class="avatar bridesmaid-avatar">
          <div class="bridesmaid">
            <span class="name">{{bridesmaid.name | capitalize}}</span>
            <div class="picture" [ngStyle]="{'background-image': 'url(' + bridesmaid.src | async + ')'}"></div>
            <div class="title">{{bridesmaid.role}}</div>
          </div>
        </div>
      </div>
    </section>
    <section class="bridal-party__groomsmen col-xs-12 col-md-6">
      <h3 class="bridal-party__title">Meet the Groomsmen</h3>
      <div class="groomsmen">
        <div *ngFor="let groomsman of bridalParty.groomsmen" class="avatar groomsman-avatar">
          <div class="groomsman">
            <span class="name">{{groomsman.name | capitalize}}</span>
            <div class="picture" [ngStyle]="{'background-image': 'url(' + groomsman.src | async + ')'}"></div>
            <div class="title">{{groomsman.role}}</div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
